# Imports

In [32]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

from joblib import dump

import plotly.express as px
import plotly.io as pio

pio.renderers.default = "png"

In [56]:
data = pd.read_csv('data.csv')

In [57]:
data.head()

   Height  Weight
0    1.47   52.21
1    1.50   53.12
2    1.52   54.48
3    1.55   55.84
4    1.57   57.20

In [58]:
data.describe()

          Height     Weight
count  15.000000  15.000000
mean    1.650667  62.078000
std     0.114235   7.037515
min     1.470000  52.210000
25%     1.560000  56.520000
50%     1.650000  61.290000
75%     1.740000  67.190000
max     1.830000  74.460000